* {

    margin-top: 0;
}

body {

    margin: 0;
    background-color: #d8d8d8;
}
main {

    width: 75%;
    padding: 0 30px;
    margin: auto;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background-color: white;
}

main h1 {

    text-align: center;
}

h1 {

    font-family: Arial Narrow;
    margin-bottom: 50px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    text-transform: capitalize;
}

p {
    font-family: Tahoma;
    font-size: 18px;
}

.quote {

    font-size: 25px;
    font-family: Tahoma;
    color: lightgray;
    box-shadow: 6px 6px 6px #f2f2f2;
    width: 75%;
    margin: auto;
}
#header-image {

    width: 100vw;
    height: 55vh;
    margin-bottom: 0;
    display: block;
}

#everything-in-the-header-exclude-header-image {

    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, red 75%, black);
    justify-content: space-between;
    height: 50px;
    margin-top: 0;
}

#logo {

    height: 50px;
}

#desk-nav {

    display: flex;
    flex-direction: row;
    margin-right: 50px;
    align-items: center;

}

#desk-nav li {

    list-style-type: none;
    padding: 15px;
}

#desk-nav li a {

    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial Black;
    color: #fff;
}

#the-drop-down-menu-container {

    background-color: #f78787;
    display: flex;
    opacity: 0;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0;
    padding: 10px;
    position: fixed;
    transition: all .5s ease-in-out;
    width: 30%;
    right: 0;
}

#the-drop-down-menu-container ul {

    list-style-type: none;
}

#the-drop-down-menu-container ul:last-child {

    border: none;
}

#the-drop-down-menu-container ul li {

    padding: 15px;
}

#the-drop-down-menu-container ul li a {

    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial Black;
    color: #000;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#the-drop-down-menu-container ul li a:hover {

    color: #fff;
}



/* Contact page styling */

.contact-options {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 75%;
    border: 1px solid lightgray;
}

.contact-options li {

    list-style-type: none;
}

.contact-options li img {

    width: 120px;
    height: auto;
}

.social-media-icons {

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media-icons img {

    width: 120px;
    height: auto;
    padding: 20px;
    cursor: pointer;
}

/* Staff Directory */

.all-borden-staff-members {

    display: flex;
    flex-direction: column;
}

.all-borden-staff-members div ul li { /* Styling for all the list items of the staff directory */

    list-style-type: none;
    box-shadow: 0 5px 2px 0 #000;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.principal li img {

    float: left;
}

.principal li ul li,
.assistant-principal li ul li {

    box-shadow: none;
}

/* End Staff Directory */