* {

    margin-top: 0;
}

body {

    margin: 0;
}

#header-image {

    width: 100vw;
    height: 55vh;
    margin-bottom: 0;
    display: block;
}

#everything-in-the-header-exclude-header-image {

    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, red 75%, black);
    justify-content: space-between;
    height: 50px;
    margin-top: 0;
}

#logo {

    height: 50px;
}

#desk-nav {

    display: flex;
    flex-direction: row;
    margin-right: 50px;
    align-items: center;

}

#desk-nav li {

    list-style-type: none;
    padding: 15px;
}

#desk-nav li a {

    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial Black;
    color: #fff;
}

#the-drop-down-menu-container {

    background-color: #f78787;
    display: flex;
    opacity: 0;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0;
    padding: 10px;
    position: fixed;
    transition: all .5s ease-in-out;
    width: 100%;
}

#the-drop-down-menu-container ul {

    list-style-type: none;
    border-right: 1px solid gray;
    padding-right: 60px;
}

#the-drop-down-menu-container ul:last-child {

    border: none;
}

#the-drop-down-menu-container ul li {

    padding: 15px;
}

#the-drop-down-menu-container ul li a {

    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial Black;
    color: #000;
    cursor: pointer;
}

h1 {

    font-family: Arial Narrow;
    margin-bottom: 50px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    text-transform: capitalize;
}

.quote {

    font-size: 25px;
    font-family: Tahoma;
    color: lightgray;
    box-shadow: 6px 6px 6px #f2f2f2;
    width: 75%;
    margin: auto;
}